<?xml version="1.0"?>
<ruleset name="HorseToolsSecurity">
    <description>Security + PHP compatibility sniffs for Horse Tools.</description>
    <file>.</file>
    <exclude-pattern>*/link/google-api/*</exclude-pattern>
    <arg name="extensions" value="php"/>
    <arg name="basepath" value="."/>
    <rule ref="WordPress.Security"/>
    <rule ref="WordPress.DB.PreparedSQL"/>
    <rule ref="WordPress.DB.PreparedSQLPlaceholders"/>
    <rule ref="WordPress.WP.EnqueuedResources"/>
    <rule ref="PHPCompatibilityWP"/>
    <config name="minimum_supported_wp_version" value="6.0"/>
    <config name="testVersion" value="8.1-8.4"/>
</ruleset>