:root{
	--ggetcolor:#444;
	--ggetborra:5px;
}
a.horsegget{
	margin-bottom: 10px;
    margin-top: 10px;
	display: inline-block;
    text-decoration: none !important;
}
a.horsegget.horsegetskin {
    background: var(--ggetcolor);
    padding: 10px 40px;
    color: #fff;
    border-radius: var(--ggetborra);
    font-weight: bold;
	cursor: pointer;
	border-bottom:3px solid #222;
	font-size:23px;
}
a.horsegget.horsegetskin .ggettext{
	display: inline-flex;
    align-items: center;
    justify-content: center;
}
a.horsegget.horsegetskin .ggettext svg{margin-right:10px;}
a.horsegget.horsegetshow{
	font-size:23px;
	color:#333;
}
a.horsegget.horsegetshow.timer b{
	color:#ff4444;
}